.cartContent{
	width: 100%;
	background: rgb(254,241,238);
	padding-bottom: 30px;
	overflow: hidden;
}
.cartContent .myCart{
	margin: 0 auto;
    width: 1178px;
    margin-top: 20px;
    border: 1px solid #D2D2D2;
    background: #FFFFFF;
    overflow: hidden;
}
.cartContent .myCart .topLine{
	width: 1178px;
	height: 15px;
    border-top: 2px solid #FFC0C1;
}
.cartContent .myCart .emptyLine{
	padding: 10px 20px;
    width: 1140px;
}
.cartContent .myCart .cartTitle{
	width: 1140px;
    height: 40px;
    margin: 0 auto;
    line-height: 40px;
    border-bottom: 1px solid #DEDEDE;
    font-weight: bold;
    text-indent: 30px;
    background: url(../img/carticon.jpg) no-repeat left center;
}
/**购物车为空时**/
.cartContent .myCart .cartEmpty{
    width: 1178px;
    height: 446px;
	background: url(../img/cartnone.jpg) no-repeat;
}
.cartContent .myCart .cartEmpty .emptyPrompt{
	float: left;
    margin-left: 600px;
    margin-top: 100px;
    padding: 5px 10px;
    width: 300px;
    line-height: 30px;
    border: 1px solid #DEDEDE;
    background: #FFFAF9;
}
/*有商品*/
.cartContent .myCart .shoppingCart{
	width: 1140px;
	margin: 0 auto;
	overflow: hidden;
	background: rgb(247,247,247);
}
.cartContent .myCart .shoppingCart ul{
	clear: both;
}
.cartContent .myCart .shoppingCart li{
	float: left;
}
.cartContent .myCart .shoppingCart img{
	width: 120px;
	height: 120px;
}
   /* height: 30px;
    line-height: 30px;*/
.cartContent .myCart .shoppingCart .cartHeader{
	width: 100%;
	height: 40px;
	line-height: 40px;
	text-align: center;
	overflow: hidden;
	background: white;
}
.cartContent .myCart .shoppingCart .cartGoods{
	width:1140px ;
	text-align: center;
	overflow: hidden;
}
.cartContent .myCart .shoppingCart .cartHeader li:first-child{
	width:130px;
	text-align: center;
}
.cartContent .myCart .shoppingCart .cartHeader li:nth-child(2){
	width: 300px;
}
.cartContent .myCart .shoppingCart .cartHeader li:nth-child(3){
	width: 110px;
}
.cartContent .myCart .shoppingCart .cartHeader li:nth-child(4){
	width: 160px;
}
.cartContent .myCart .shoppingCart .cartHeader li:nth-child(5),
.cartContent .myCart .shoppingCart .cartHeader li:nth-child(6),
.cartContent .myCart .shoppingCart .cartHeader li:nth-child(7),
.cartContent .myCart .shoppingCart .cartHeader li:nth-child(8){
	width: 110px;
}
.cartContent .myCart .shoppingCart .cartGoods li{
	padding: 5px 5px;
}
.cartContent .myCart .shoppingCart .cartGoods li:first-child{
	width: 120px;
}
.cartContent .myCart .shoppingCart .cartGoods li:nth-child(2){
	width: 290px;
}
.cartContent .myCart .shoppingCart .cartGoods li:nth-child(2) a{
	margin-top: 45px;
	display: block;
	width: 290px;
	height: auto;
}
.cartContent .myCart .shoppingCart .cartGoods li:nth-child(3){
	width: 100px;
	padding-top: 50px;
}
.cartContent .myCart .shoppingCart .cartGoods li:nth-child(4){
	width: 150px;
	padding-top: 50px;
}
.cartContent .myCart .shoppingCart .cartGoods li:nth-child(5),
.cartContent .myCart .shoppingCart .cartGoods li:nth-child(6),
.cartContent .myCart .shoppingCart .cartGoods li:nth-child(7){
	width: 100px;
	padding-top: 50px;
}
.cartContent .myCart .shoppingCart .cartGoods li:nth-child(5){
	text-decoration: line-through;
}
.cartContent .myCart .shoppingCart .cartGoods li:nth-child(8){
	width: 100px;
	padding-top: 40px;
}
.cartContent .myCart .shoppingCart .cartGoods li:nth-child(8) a{
	display: block;
}
/*结算*/
.cartContent .myCart .checkout{
	width: 1140px;
	height: 40px;
	margin: 10px auto;
	background: rgb(247,247,247);
}
.cartContent .myCart .checkout .checkoutLeft{
	float: left;
    width: 400px;
    height: 40px;
    line-height: 40px;
}
.cartContent .myCart .checkout .checkoutLeft .counts{
	margin: 0 5px;
    font-weight: bold;
    color: #C11E1F;
}
    
.cartContent .myCart .checkout .checkoutLeft .goBuy{
	margin-left: 20px;
	color: rgb(225,58,104);
}
.cartContent .myCart .checkout .checkoutRight{
	float: right;
    width: 740px;
    height: 40px;
    line-height: 40px;
    text-align: right;
}
.cartContent .myCart .checkout .checkoutRight .specialPrice{
	margin: 0 5px;
    font-size: 16px;
    font-weight: bold;
    color: #C11E1F;
}
    
.cartContent .myCart .checkout .checkoutRight .checkoutBtn{
	width: 75px;
	height: 24px;
	border: none;
	outline: none;
	margin: 0 40px;
    padding: 4px 25px;
    color: #FFFFFF;
    cursor: pointer;
	background: url(../img/jiesuan.jpg);
}
.hostest{
	overflow: hidden;
	width: 1180px;
	margin: 0 auto;
}
.hostest .hostestTitle{
	margin-top: 20px;
	padding: 0 10px;
    width: 1160px;
    height: 34px;
    background: url(../img/hotbg.png);
    border-top: 1px solid #DEDEDE;
    border-bottom: 1px solid #DEDEDE;
}
.hostest .hostestTitle .hostTitleLeft{
	float: left;
    width: 300px;
    height: 34px;
    line-height: 34px;
    font-weight: bold;
    text-indent: 25px;
    background: url(../img/lovebg.png) no-repeat left center;
} 
.hostest .hostestTitle .hostTitleRight{
	float: right;
    padding-right: 5px;
    width: 300px;
    height: 34px;
    line-height: 34px;
    text-align: right;
}
.hostest .hostestContent{
	margin-top: 10px;
    padding: 20px 10px;
    width: 1158px;
    height: 200px;
    border: 1px solid #DEDEDE;
    overflow: hidden;
    margin-bottom: 10px;
}
.hostest .hostestContent .hostPre{
	float: left;
    width: 29px;
    height: 175px;
    cursor: pointer;
    background: url(../img/hotleft.png) no-repeat center center;
}
.hostest .hostestContent .hostNex{
	float: right;
    width: 29px;
    height: 175px;
    cursor: pointer;
    background: url(../img/hotright.png) no-repeat center center;
}    
.hostest .hostestContent img{
	width: 182px;
	height: 182px;
}
.hostest .hostestContent li{
	float: left;
} 
.hostest .hostestContent p{
	line-height: 16px;
	text-align: center;
}         